In [ ]:
import pandas as pd

## Extraction

In [ ]:
travels_data = pd.read_csv('https://drive.google.com/uc?id=1muwnik-uFGTKBdHmcQN5z68rD7qmdG-b')

In [ ]:
travels_data.shape

In [ ]:
travels_data.info()

In [ ]:
# Date is an object Dtype
# Null Values in purpose of travel
# Separate state and city
# Separate names
# Separate date values into day month year

In [ ]:
travels_data

In [ ]:
travels_data.drop_duplicates()

## Cleaning

In [ ]:
travels_dataset = travels_data.copy() # create a copy of the dataset

In [ ]:
travels_data.info()

In [ ]:
def remove_white_space(text):
    if type(text) == str:
        return text.strip()
    return text

In [ ]:
travels_dataset['Travel Start Date'] = travels_dataset['Travel Start Date'].apply(remove_white_space)

In [ ]:
travels_dataset['Travel Start Date'] = pd.to_datetime(travels_dataset['Travel Start Date'])

In [ ]:
travels_dataset.info() # check for the applied change

In [ ]:
travels_dataset['Travel End Date'] = travels_dataset['Travel End Date'].apply(remove_white_space)
travels_dataset['Travel End Date'] = pd.to_datetime(travels_dataset['Travel End Date'])

In [ ]:
travels_dataset.info()

In [ ]:
travels_dataset[travels_dataset['Purpose Of Travel'].isna()] # check for the rows with NULL values

In [ ]:
travels_dataset['Purpose Of Travel'] = travels_dataset['Purpose Of Travel'].fillna('Not Provided') # change NULL/NaN to "Not Provided"

In [ ]:
travels_dataset.info() # check that the changes were applied

In [ ]:
travels_dataset # check that the changes were applied

In [ ]:
def extract_state(text):
    """Extract state"""
    result = text.split(',')[1]
    result.strip()
    return result

def extract_city(text):
    """Extract city"""
    result = text.split(',')[0]
    return result

In [ ]:
# extract state and city from destination

travels_dataset['State'] = travels_dataset['Destination'].apply(extract_state)
travels_dataset['City'] = travels_dataset['Destination'].apply(extract_city)

In [ ]:
travels_dataset.info()

In [ ]:
columns = ['Employee', 'State', 'City' ,'Travel Start Date', 'Travel End Date', 'Actual Total Expenses', 'Purpose Of Travel']

In [ ]:
def remove_special_characters(name):
    result = name.replace('@', '')
    result = result.replace('!', '')
    return result

In [ ]:
travels_dataset['Employee'] = travels_dataset['Employee'].apply(remove_special_characters)

In [ ]:
travels_dataset.to_csv('cleaned_travels_dataset.csv')

# US Demography

In [ ]:
url = 'https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/us-cities-demographics/exports/json?lang=en&timezone=Africa%2FLagos'
actual_demography = pd.read_json(url)

In [ ]:
demography = actual_demography.copy()

In [ ]:
demography.info()

In [ ]:
# male & female population to integer
# missing values

In [53]:
demography.head()

,city,state,median_age,male_population,female_population,total_population,number_of_veterans,foreign_born,average_household_size,state_code,race,count
0,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402
1,Peoria,Illinois,33.1,56229.0,62432.0,118661,6634.0,7517.0,2.40,IL,American Indian and Alaska Native,1343
2,O'Fallon,Missouri,36.0,41762.0,43270.0,85032,5783.0,3269.0,2.77,MO,Hispanic or Latino,2583
3,Hampton,Virginia,35.5,66214.0,70240.0,136454,19638.0,6204.0,2.48,VA,Black or African-American,70303
4,Lakewood,Colorado,37.7,76013.0,76576.0,152589,9988.0,14169.0,2.29,CO,Hispanic or Latino,33630