In [1]:
import pandas as pd

## Extraction

In [2]:
travels_data = pd.read_csv('https://drive.google.com/uc?id=1muwnik-uFGTKBdHmcQN5z68rD7qmdG-b')

In [3]:
travels_data.shape

(418, 6)

In [4]:
travels_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    object
 3   Travel End Date        418 non-null    object
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      415 non-null    object
dtypes: float64(1), object(5)
memory usage: 19.7+ KB

In [ ]:
# Date is an object Dtype
# Null Values in purpose of travel
# Separate state and city
# Separate names
# Separate date values into day month year

In [5]:
travels_data

,Employee,Destination,Travel Start Date,Travel End Date,Actual Total Expenses,Purpose Of Travel
0,Aaron Salter,"OCEAN CITY, MD",2017-05-31,2017-06-02,644.10,Conference
1,Abigail Ratnofsky,"SAN DIEGO, CA",2016-01-24,2016-01-29,2962.70,Conference
2,Adam Kisthardt,"ORLANDO, FL",2018-10-04,2018-10-09,1891.19,Conference
3,Adam P. Jones,"OCEAN CITY, MD",2016-06-19,2016-06-21,324.36,Conference
4,Alan Butsch,"SAN DIEGO, CA",2019-11-19,2019-11-22,2141.51,Conference
...,...,...,...,...,...,...
413,Warren Jensen!,"OCEAN CITY, MD",2017-11-06,2017-11-09,502.45,Conference
414,Warp Jensen,"OCEAN CITY, MD",2019-03-25,2019-03-26,78.00,Conference
415,Whitney Kujawa,"OCEAN CITY, MD",2017-11-06,2017-11-09,567.00,Conference
416,William Kinna,"CHARLOTTE, NC",2017-05-21,2017-05-26,2163.67,Conference
417,Xin Qi,"OCEAN CITY, MD",2019-08-13,2019-08-17,2107.51,Conference